@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(220, 220, 220);
}

.contact h2{
    font-size: 40px;
    color: rgb(30, 90, 151);
    text-align: center;
    margin-bottom: 10px;
}

.contact form{
    width: 600px;
    text-align: center;
}

form .input-box{
    display: flex;
    justify-content:space-between ;
}

.input-box .input-field{
    width: 48.5%;
}

.field .item{
    width: 100%;
    padding: 18px;
    background: transparent;
    border: 3px solid rgb(40, 91, 212);
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    color: #000000;
    margin: 12px 0;
}

.field.error .item{
    border-color: #d93025;
}

.field .item::placeholder{
    color: rgb(68, 68, 68);
}


form .textarea-field .item{
    resize: none;
}

form button{
    padding: 12px 32px;
    background: rgb(40, 91, 212);
    border-radius: 6px;
    border: none;
    outline: none;
    box-shadow: 0 0 20px rgb(40, 91, 212);
    font-size: 18px;
    font-weight: 600;
    color: #000000;
    cursor: pointer;
    margin-top: 20px;
    transition: 0.4s;
}

form button:hover{
    box-shadow: none;
}

.field .error-message{
    font-size: 15px;
    color: #d93025;
    text-align: left;
    margin: -5px 0 10px;
    font-weight: 600;
    display: none;
}

.field.error .error-message{
    display: block;
}

form .textarea-field .error-message{
    margin-top: -10px;
}